* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: linear-gradient(90deg, rgba(12,10,166,1) 0%, rgba(79,112,201,1) 35%, rgba(0,212,255,1) 100%);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    height: 1000px;
    
}

.form-turnos{
    
    background-color: #e5e5e5;
    width: 520px;
    height: 940;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
}
.form-turnos h2{
    font-size: 40px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contenedor label{
    font-size: 18px;
}
.contenedor input{
    height: 25px;
    width: 190px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
}
.contenedor p{
    color: red;
    font-size: 18px;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.boton a{
    font-size: 22px;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

@media (max-width: 992px){
    /*Tablet*/
    .form-turnos{
        width: 450px;
    }

}
@media (max-width: 576px) {
    /*Mobile*/
    .form-turnos{
        width: 350px;
    }
}